<div class="ui grid">
  <div class="sixteen wide mobile ten wide computer column">
    <%= yield %>
  </div>
  <div class="sixteen wide mobile six wide computer column">
    <%= render "/web/sub_layouts/shared/devise_links" %>
  </div>
</div>
