<div class="ui grid">
  <div class="four wide computer sixteen wide column">
    <%= render "/web/sub_layouts/shared/user_settings_menu" %>
  </div>
  <div class="twelve wide computer sixteen wide column">
    <%= yield %>
  </div>
</div>
