#flash {
  position: fixed;
  bottom: 2em;
  right: 0;
  min-width: 400px;
  max-width: 640px;
  z-index: 9999;
}

.ui.flash {
  background-color: #202833;
  background-color: rgba(32, 40, 51, 0.8);
  color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-left: 5px solid #ee7c4a;
  margin-bottom: 1em;
  position: relative;

  &:hover {
    opacity: 0.8;
  }

  .header {
    color: #FFF;
    border-bottom: 1px solid #636a73;
    margin-top: 0;
    padding: 0.7em 3em 0.7em 1.4em;
  }

  .icon {
    position: absolute;
    top: 0.7em;
    right: 2em;
    cursor: pointer;
  }

  .content {
    padding: 0 1.4em 1em;
  }

  &.positive, &[data-status="success"] {
    border-left-color: limegreen;
  }
  &.negative, &[data-status="error"] {
    border-left-color: orangered;
  }
  &.info, &[data-status="info"] {
    border-left-color: deepskyblue;
  }
  &.warning, &[data-status="warning"] {
    border-left-color: orange;
  }
}

@media all and (max-width: 767px) {
  #flash {
    min-width: auto;
    max-width: 90%;
    width: 90%;
  }
}
