default: &default
  adapter: postgresql
  pool: 5
  timeout: 5000
  username: vagrant
  password: vagrant

development:
  <<: *default
  database: fydir_development

test:
  <<: *default
  database: fydir_test

production:
  <<: *default
  database: fydir_production
